src/demos_dxa_proteome.rds
src/demos_dxa_exposures.rds
src/scaled_demographics.rds
src/scaled_exposures.rds
src/scaled_impedance.rds
src/scaled_proteins.rds
src/arm_fat_mass_left_filtered.rds
*.out
out/slurm_proteome_assoc/
out/slurm_exposome_assoc/
out/slurm_imp_proteome_assoc/
out/slurm_imp_exposome_assoc/
out/batch_proteome_stdout/
out/batch_exposome_stdout/
out/slurm_imp_proteome_assoc/
out/batch_imp_proteome_stdout/
ukb_chr22_init_filtered*
ukb_covar.txt
ukb_imp_chr22_v3*
ukb_pheno.txt
ukbb_snps.log
ukb52887_imp_chr22_v3_s487296.sample
src/scaled_dxa.rds